doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie-edge")
    title Webpack 4

  body
    include parts/header.pug

    main
      h3.test-server Webpack Boilerplate for development
      img(src="assets/img/webpack.png")
      a(href="#").btn.btn-primary#button Js

    include parts/footer.pug
